<!DOCTYPE  html>
<head>
	<title> Pedidos Mora's Pizzas</title>
</head>
<body>
	<h1>Tu pedido es: </h1>

	<table>
		<th>
		<tr>
			Dirección : <%=@direccion%>
		</tr>
		<tr>
			Teléfono : <%=@telefono%>
		</tr>
		<tr>
			Tamaño : <%=@tamaño%>
		</tr>
		<tr>
			Ingredientes: <%=@ingredientes%>
		</tr></th>

	</table>
	
	<h2>El precio de su pedido es de: <%=@precio%></h2>

</body>